.body {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  background: #FFF;
}

.header{
    border-bottom: 1px #E7E9FC;
background: #FFF;
width: 1440px;
height: 72px;
flex-shrink: 0;
}
.withbtn {
    background: #2E2F42;
    width: 1440px;
height: 600px;
flex-shrink: 0;
}
.team {
    background: #F4F4FD;
    width: 1440px;
height: 732px;
flex-shrink: 0;
}
.our-portf {
    width: 1440px;
height: 3300px;
}
.body > a {
  cursor: pointer;
}

.contacts a {
  color: #434455;
}

.contacts a:hover,
.contacts a:focus {
  color: black;
}

.contacts {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.high a {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

#solutions {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
#but1 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
}

.smalltext {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.description-of-smltxt {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

#our-team {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.names {
    color: #2E2F42;
text-align: center
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}

.descr-of-names {
    color: #2E2F42;
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}
.portf-descr {
    color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}

.descr-of-cards {
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.32px;
}

#lst-txt {
    color: #F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.32px;
}

#footer {
    background: #2E2F42;
    width: 1440px;
height: 312px;
flex-shrink: 0;
}